<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.bth.students.quizzard" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.bth.students.quizzard.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.bth.students.quizzard.ListQuizzes"
            android:label="List Quizzes"
            android:parentActivityName="se.bth.students.quizzard.MainActivity" />

        <activity
            android:windowSoftInputMode="stateHidden"
            android:name="se.bth.students.quizzard.CreateQuiz"
            android:label="Create Quiz"
            android:parentActivityName="se.bth.students.quizzard.MainActivity"
            android:launchMode="singleTop"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:name="se.bth.students.quizzard.EditQuiz"
            android:label="Edit Quiz"
            android:parentActivityName="se.bth.students.quizzard.ListQuizzes"
            android:launchMode="singleTop"/>

        <activity
            android:name="se.bth.students.quizzard.AddQuestion"
            android:label="Add question"
            android:parentActivityName="se.bth.students.quizzard.CreateQuiz"
            android:launchMode="singleTop"/>

        <activity
            android:name="se.bth.students.quizzard.EditQuestion"
            android:label="Edit question"
            android:parentActivityName="se.bth.students.quizzard.CreateQuiz"
            />

        <activity
            android:name="se.bth.students.quizzard.DoQuiz"
            android:label="Do Quiz"
            android:parentActivityName="se.bth.students.quizzard.ListQuizzes" />

        <activity
            android:name="se.bth.students.quizzard.ScoreScreen"
            android:label="Score"
            android:parentActivityName="se.bth.students.quizzard.ListQuizzes" />


    </application>

</manifest>
